*{
    margin: 0;
    padding: 0;

}

body{
    background-color:#1c1d1f;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: column;
    gap: 2.3em
}

#article-prisma{
    max-width: 650px;
    padding: 15px;
    font-size: 18px;
    color:rgba(201, 201, 201, 0.918) ;
}

#article-prisma p {
    padding: 10px 0 0 10px;
}

#article-prisma h1{
    
    margin: 18px 0 8px 18px;
    color: #e28941;
    text-transform: uppercase;
}

#volume-prisma{
    display: flex;
    flex-direction:column;
    gap: 1.5em;
    max-width: 390px;
    margin: 0 0 15px 0;

    border: 2px solid #1c426e86;
    border-radius: 5px;
}

#volume-prisma h2{
    padding: 1.2em 0 2px 0;
    text-align: center;
    text-transform: uppercase;
}

#valores{
    width: 332px;
    padding: 10px;
    display:flex;
    flex-direction: column;
    gap: 1.2em;

    font-size: 1.2em;
    text-transform: uppercase;
}

#valores input{
    display: inline;
    height: 50px;
    max-width: 355px;
    background-color: #303131c5;
    border: 2px solid #24538a86;
}

#valores>input::placeholder{
    padding-left:18px;
    color:#085399;

}
#botao{
  
    cursor: pointer;
    margin: auto;
    width: 90px;
    height: 40px;
    background-color: #ee842efd;
    border-radius: 7px;
    border: none;
    font-size: 18px;
    color:#202024;
    transition: 0.1s;
}

#botao:active{
    background-color: #ee791998;
    color: rgba(172, 172, 172, 0.733);
    transition: 0.1s;
}

#res{
    background-color: rgba(66, 66, 66, 0.836);
    width: 320px;
    height: 50px;
    margin: 15px auto;
    padding: 25px 0 0 0;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #085399;
}