
@media screen and (max-width:1200px){
    .box1{
        flex-direction: column;
        height: auto;
        max-width: 100%;
    }

    #article-prisma{
        min-width: 88%;
    
    }

    #article-prisma h1{
        font-size:150%;
    }

    #volume-prisma{
       width: 370px;
       margin: 15px auto;
    }
}

@media screen and (max-width:1200px){
    .box2{
        flex-direction: column;
        height: auto;
        max-width: 100%;
    }

    #article-cilindro{
        min-width: 88%;
    
    }

    #article-cilindro h1{
        font-size:150%;
    }

    #volume-cilindro{
       width: 370px;
       margin: 15px auto;
    }
}

@media screen and (min-width:2000px){
    .box1{
        max-width: 2800px;
        margin: 0 auto;
    }

    #article-prisma>h1{
        font-size: 4.5rem;
    }
    #article-prisma>p{
        font-size: 1.5em;
    }

    #volume-prisma{
        width: 800px;
        height: 900px;
    }

    #volume-prisma>h2{
      font-size: 3em;
      padding:1.8rem auto;
    }

    #valores{
        width: 700px;
        margin: 2.5rem auto;
    }

    #valores>input::placeholder{
        font-size: 2rem;
    }
}