*{
    margin: 0;
    padding: 0;

}

:root{
    --corPrincipal:#2ae711c9;
    -corsecundaria:#303131c5;
    --corActive:#28be1485;
}

@font-face {
    font-family: 'calculaterFont';
    src: url('Calculator.ttf')format('truetype');
}

body{
    background-image: linear-gradient(to bottom,#1c1d1f 60%,#1e351f);
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: column;
    gap: 2.3em
}
.box1{
    display: flex;
    height: 100vh;
    
}

#article-prisma{
    width: 50%;
    margin: 2% 12% 5% 2%;
    font-size: 25px;
    color:rgba(201, 201, 201, 0.918) ;
}

#article-prisma p {
    padding: 10px 0 0 15px;
}

#article-prisma h1{
    font-family: 'calculaterFont',Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin: 18px 0 8px 15px;
    color: var(--corPrincipal);
    text-shadow: 0.5px 0.5px 10px var(--corPrincipal);
    text-transform: uppercase;
}

#volume-prisma{
    background-color: #1c1d1f;
    display: flex;
    height: 525px;
    flex-direction:column;
    gap: 1.5em;
    margin: 5% 0 1% -2%;

    border: 2px solid #f0f8ffb6;
    border-radius: 5px;
    box-shadow: 1px 1px 15px black;
}

#volume-prisma h2{
    font-family: 'calculaterFont',Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: var(--corPrincipal);
    text-shadow: 1px 1px 10px var(--corPrincipal);
    padding: 1.2em 0 2px 0;
    text-align: center;
    text-transform: uppercase;
}

#valores{
    width: 350px;
    padding: 10px;
    display:flex;
    flex-direction: column;
    gap: 1.2em;

    font-size: 1.2em;
    text-transform: uppercase;
}

#valores input{
    display: inline;
    height: 50px;
    font-size: 20px;
    font-family: 'calculaterFont',Arial,sans-serif;
    color: var(--corPrincipal);
    text-shadow: 0.5px 0.5px 10px var(--corPrincipal);
    padding-left: 10px;
    min-width: 310px;
    background-color: #303131c5;
    border: 2px solid #f0f8ffb6;
}

#valores>input::placeholder{
    padding-left:18px;
    font-family: 'calculaterFont',arial,sans-serif;
    font-size: 22px;
    color:var(--corPrincipal);
    text-shadow:0.2px 0.2px 10px var(--corPrincipal);

}
#botao{
    cursor: pointer;
    margin: 0 auto;
    width: 90px;
    height: 40px;
    background-color:#414141ad;
    border-radius: 7px;
    border: 1.5px solid #f0f8ffb6;
    font-size: 20px;
    font-family: 'calculaterFont',Arial,sans-serif;
    text-transform: uppercase;
    color:var(--corPrincipal);
    text-shadow:1px 1px 8px var(--corPrincipal);
    transition: 0.1s;
}

#botao:active{
    background-color: var(--corActive);
    color: #000000;
    transition: 0.1s;
}

#res{
    background-color: rgba(66, 66, 66, 0.836);
    width: 320px;
    height: 50px;
    margin: 15px auto;
    padding: 25px 0 0 0;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #f0f8ffb6;
}

/*-----------------PtCilindro-------------------*/

.box2{
    display: flex;
    height: 100vh;
    
}

.article-cilindro{
    width: 50%;
    margin: 2% 12% 5% 2%;
    font-size: 25px;
    color:rgba(201, 201, 201, 0.918) ;
}

.article-cilindro p {
    padding: 10px 0 0 15px;
}

.article-cilindro h2{
    font-family: 'calculaterFont',Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin: 18px 0 8px 15px;
    color: var(--corPrincipal);
    text-shadow: 0.5px 0.5px 10px var(--corPrincipal);
    text-transform: uppercase;
}

.article-cilindro>p>strong{
    font-size: 27px;
}

#volume-cilindro{
    background-color: #1c1d1f;
    display: flex;
    height: 525px;
    flex-direction:column;
    gap: 1.5em;
    margin: 5% 0 1% -2%;

    border: 2px solid #f0f8ffb6;
    border-radius: 5px;
    box-shadow: 1px 1px 15px black;
}

#volume-cilindro>h2{
    font-family: 'calculaterFont',Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: var(--corPrincipal);
    text-shadow: 1px 1px 10px var(--corPrincipal);
    padding: 1.2em 0 2px 0;
    text-align: center;
    text-transform: uppercase;
}

#valores-cilindro{
    width: 350px;
    padding: 10px;
    display:flex;
    flex-direction: column;
    gap: 1.2em;

    font-size: 1.2em;
    text-transform: uppercase;
}

#valores-cilindro input{
    display: inline;
    height: 50px;
    font-size: 20px;
    font-family: 'calculaterFont',Arial,sans-serif;
    color: var(--corPrincipal);
    text-shadow: 0.5px 0.5px 10px var(--corPrincipal);
    padding-left: 10px;
    min-width: 310px;
    background-color: #303131c5;
    border: 2px solid #f0f8ffb6;
}

#valores-cilindro>input::placeholder{
    padding-left:18px;
    font-family: 'calculaterFont',arial,sans-serif;
    font-size: 22px;
    color:var(--corPrincipal);
    text-shadow:0.2px 0.2px 10px var(--corPrincipal);

}

#resCilindro{
    background-color: rgba(66, 66, 66, 0.836);
    width: 320px;
    height: 50px;
    margin: 15px auto;
    padding: 25px 0 0 0;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #f0f8ffb6;
}